<html>
    <head>
      <title>Mod1</title>
      <style>
    	    img {
            	display: block;
            	margin-left: auto;
            	margin-right: auto;
        	    width: 35%
    	    }
          p{
            text-align: center;
          }
      </style>
    </head>
<body>
    <h1 align="center">Real Time Covid-19 Mask Detection</h1>
    <img id="bg" class="center" src="{{ url_for('video_feed') }}">
    <p>It works best in good camera quality & lighting conditions </p>
</body>
</html>
